<doctype html!>
        <html>
        <head>
        <title>Register </title>
        <link rel="stylesheet" href="style.css" />
        </head>
        <body>
                <form method="post" enctype='application/json'>
                        <input name='name' value='Bender'>
                        <input type="submit" value="Submit">
                </form>
        </body>
        </html>
