<form action="/addAuthor" method="post" enctype='application/json'>
        <div>
          <label for="firstName">Name:</label>
          <input type="text" id="firstName" name="firstName">
        </div>
        <div>
          <label for="lastName">Last Name:</label>
          <input type="lastName" id="lastName" name="lastName">
        </div>
        <div>
           <label for="mail">E-mail:</label>
           <input type="email" id="mail" name="userMail">
        </div>
        <div class="button">
           <button type="submit">Send</button>
       </div>
</form>