<form action="/registration" method="post" enctype='application/json'>
        <div class="textFistName">
          <label>First Name:</label><br>
          <input type="text" id="first_Name" name="userFirstName">
          <br>
         </div>
         
         <div class="textLastName">
          <label>Last Name:</label><br>
          <input type="text" id="last_Name" name="userLastName">
          <br>
         </div>

         <div class="textEmail">
           <label>E-mail:</label><br>
           <input type="email" id="email_address" name="userEmail">
           <br>
         </div>

         <div class="textBirthDate"></div>
           <label>Birth Date:</label><br>
           <input type="date" id="birth_date" name="userBirthDate">
           <br><br>
         </div>

         <div class="textGender"></div>
           <label>Gender:</label><br>
           <input type="radio" id="gender_type_male" name="userGender" value="1" checked>Man<br>
           
           <input type="radio" id="gender_type_female" name="userGender" value="0">Woman <br><br>
        </div>

           <label>Password:</label><br>
           <input type="text" id="password" name="userPassword">
           <br>
        </div>

       <div class="textCountry">
         <label>Country:</label><br>
         <input type="text" id="country" name="user_addressesCountry">
         <br>
        </div>

        <div class="textRegion">
         <label>Region:</label><br>
         <input type="text" id="region" name="user_addressesRegion">
         <br>
        </div>

        <div class="textCity">
         <label>City:</label><br>
         <input type="text" id="city" name="user_addressesCity">
         <br>
        </div>

        <div class="textStreetAddress1">
         <label>Street Address 1:</label><br>
         <input type="text" id="streetAddress1" name="user_addressesStreetAddress1">
         <br>
        </div>

        <div class="textStreetAddress2">
            <label>Street Address 2:</label><br>
            <input type="text" id="streetAddress2" name="user_addressesStreetAddress2">
            <br>
         
           </div>

           <div class="button">
            <button type="submit">Send</button>
        </div>

</form>